{%extends "AppProyecto/inicio.html"%}
{%load static%}

{%block title%}Formulario de Álbum{%endblock%}

{%block content%}
{%if miformulario.errors%}
<div class="alert alert-danger" role="alert">
    Por favor, corrige los errores en el formulario.

{%endif%}
</div>
<div class="container mt-5">
     </div class="row justify-content-center">
       <div class="col-md-6">
          <div class="card-body">
            <h2 class="card-title text-center">Agregar Formulario</h2>
            <p class="card-text text-center">Completa los campos a continuación para crear un nuevo álbum.</p>
            <form method="POST" action="{% url 'albumFormulario2' %}">
              {% csrf_token %}
              {{ miformulario.as_p }}
            <table class="table table-borderless">
               {{miformulario.as.table}}
            </table>
            <div class="d-grid">
              <input type="submit" class="btn btn-primary" value="Enviar">    
            </div>
        </form>
    </div>
</div>

