{% extends 'AppProyecto/padre.html' %}
{% load static %}
{% block titulo %}Artistas | Mi Proyecto{% endblock titulo %}

{% block contenido %}
<div class="container mt-5 mb-5">

    <!-- Encabezado -->
    <div class="text-center mb-5">
        <h1 class="display-4 fw-bold text-primary mb-3">
            <i class="bi bi-person-lines-fill"></i> Artistas
        </h1>
        <p class="lead text-muted">
            Descubre todos los artistas disponibles y explora su música y álbumes destacados.
        </p>
    </div>



    <!-- Mensaje descriptivo final -->
    <div class="alert alert-secondary text-center mt-5">
        <p class="mb-1">
            En esta sección podrás observar y manipular los artistas que más te gusten.
        </p>
        <p class="mb-0">
            Mediante este enlace podrás acceder a un formulario para ver, agregar y administrar los artistas almacenados en la base de datos.
        </p>
    </div>

    <!-- Botón volver -->
    <div class="text-center mt-4">
        <a href="{% url 'leerArtistas' %}" class="btn btn-outline-primary">
            <i class="bi bi-arrow-left-circle"></i> Ir a la lista de Artistas
        </a>
    </div>
    <div class="text-center mt-4">
        <a href="{% url 'inicio' %}">Atrás</a>
    <div>

</div>
{% endblock contenido %}

