{% extends 'AppProyecto/padre.html' %}
{%load static%}
{% block titulo %}Inicio | Mi Proyecto {% endblock %}

<!-- Contenido principal definido con bloque -->
{% block contenido %}
<div class="container mt-5" id="jumbotron-section">
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">¡Bienvenido a la presentación de mi Pagina web!</h1>
            <p class="col-md-8 fs-4">Aquí podrás ver un poco de musica.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button" id="comenzar-btn">Comenzar</a>
        </div>
    </div>
</div>

<div class="container-fluid py-5" id="opciones-section" style="display: none; min-height: 80vh;">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 text-center mb-4">
            <h1 class="display-4">Elige donde quieres dirigirte</h1>
        </div>
        <div class="col-md-4 col-sm-6 mb-4 d-flex justify-content-center">
            <a href="{% url 'albumes' %}" class="btn btn-outline-primary btn-lg w-100 py-4">Álbum</a>
        </div>
        <div class="col-md-4 col-sm-6 mb-4 d-flex justify-content-center">
            <a href="{% url 'canciones' %}" class="btn btn-outline-success btn-lg w-100 py-4">Canción</a>
        </div>
        <div class="col-md-4 col-sm-6 mb-4 d-flex justify-content-center">
            <a href="{% url 'artistas' %}" class="btn btn-outline-danger btn-lg w-100 py-4">Artista</a>
        </div>
    </div>
</div>


{% endblock contenido %}

